body{
    margin: 0px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: purple;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    text-decoration: none;
    color: white;
    text-align: center;
    display: block;
    padding: 15px;
    float: left;
}

.navbar a:hover{
    background-color: rgba(235, 21, 235, 0.877);
}