body{
    margin: 0px;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.147);
}

#Calculator{
    border: solid;

    background-color: hsla(0, 0%, 0%, 0.821);
    border-radius: 10px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color:hsla(0, 0%, 0%, 0.484);
    color: white;

}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 10px;

}

button{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsla(0, 0%, 25%, 0.542);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;

}

button:hover{
    background-color: hsla(0, 0%, 40%, 0.426);
    
}
button:active{
     background-color: hsla(0, 0%, 60%, 0.426);
}

.operator{
    background-color: hsl(39, 100%, 50%);
}

.operator:hover{
        background-color: hsl(39, 100%, 60%);
}

.operator:active{
        background-color: hsl(39, 100%, 70%);
}