*{
    box-sizing: border-box;
}

body{
    margin: 0px;

}

header{
    text-align: center;
    background-color: aqua;
    padding: 25px;
}

.navbar{
    background-color: yellow;
    height: 50px;
}

aside{
    width: 20%;
    float: left;
    padding: 10px;
}

section{
    width: 40%;
    float: left;
    padding: 10px;
}

article{
    width: 40%;
    padding: 10px;
    float: left;
}

footer{
    display: block;
    clear: both;
    text-align: center;
    padding: 25px;
    background-color: gray;
}

@media screen and (max-width:600px) {
    aside,section,article{
        width: 100%;
    }
}