body{
    margin: 0px;
}

.box{
    width: 200px;
    height: 200px;
    border: solid;
}

#box1{
    margin: 50px;
    background-color: hsl(180, 100%, 50%);
    text-align: center;
    font-size: 2em;

}

#box2{
    margin-left: auto;
    background-color: bisque;
    text-align: center;
    font-size: 2em;
}

/* concepts of margins in css */