body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 11%, 91%);
}

h1{
    color: blueviolet;
}

form{
    text-align: center;
    max-width: 300px;
    margin: auto;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.655);

}

#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid black;
    border-radius: 6px;
    margin-bottom: 25px;

}

label{
    font-size: 1.2em;
    font-weight: bold;
}

#Submit{
    margin-top: 25px;
    border: none;
    font-size: 1.5em;
    padding: 10px 15px;
    background-color: red;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;

}

#Submit:hover{
    background-color: rgba(255, 0, 0, 0.756);
}

#result{
    font-size: 1.25em;
    font-weight: bold;
}


