.container{
    display: flex;
}

.box{
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 8em;
    border-radius: 15px;
    
}

#box1{
    background-color: red;
    
}
#box2{
    background-color: rgb(0, 38, 255);
    
}
#box3{
    background-color: rgb(255, 242, 0);
    
}
#box4{
    background-color: rgb(0, 255, 68);
}
